<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        {{ css }}
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        .verb-table {
        border-collapse: collapse;
        width: 400px;
        }
        .verb-table th, .verb-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        }

        .verb-table th {
            background-color: #f2f2f2;
        }

    </style>
</head>

<table class="verb-table">
    <tr>
        <th  colspan="3">- {{ fields['infinitiv-E']|safe }} - <br> - {{ fields['infinitiv']|safe }}</th>
    </tr>
    <tr>
        <th  colspan="3">present</th>
    </tr>
    <tr>
        <th></th>
        <th>Maskulinum/Femininum/Neutrum</th>
    </tr>
    {% for subject, verb_form in {
        'ja': 'present-m-sing-1',
        'ti': 'present-m-sing-2',
        'on/ona/ono': 'present-m-sing-3',
        'mi': 'present-m-plural-1',
        'vi': 'present-m-plural-2',
        'oni/one/ona': 'present-m-plural-3'
    }.items() %}
    <tr>
        <td>{{ subject }}</td>
        <td>&nbsp{{ fields[verb_form]|safe }}</td>
    </tr>
    {% endfor %}
    {% if fields.get('aspect') %}

    <tr>
        <td colspan="2">aspect</td>
    </tr>
    <tr>
        <td>{{ fields['aspect']|safe }}</td>
        <td>{{ fields['aspect-explanation']|safe }}</td>
    </tr>
    {% endif %}
</table>


<br>


{% if fields['infinitive-base-form'] != "" }
<table class="verb-table">

    <tr>
        <th  colspan="3">- {{ fields['infinitiv-E']|safe }} - <br> - {{ fields['infinitiv']|safe }}</th>
    </tr>
    <tr>
        <th  colspan="3">perfect</th>
    </tr>
    <tr>
        <th>Maskulinum</th>
        <th>Femininum</th>
        <th>Neutrum</th>
    </tr>
    {% set subjects = [
        ('ja sam', 'o', 'la', ''),
        ('ti si', 'o', 'la', ''),
        ('on je', 'o', 'ona je', 'la', 'ono je', 'lo'),
        ('mi smo', 'li', 'le', ''),
        ('vi ste', 'li', 'le', ''),
        ('oni su', 'li', 'one su', 'le', 'ona su', 'la')
    ] %}
    {% for row in subjects %}
    <tr>
        <td>{{ row[0] }}&nbsp<span style="color:blue">{{ fields['infinitive-base-form']|safe }}</span><span style="color:red">{{ row[1] }}</span></td>
        <td>{{ row[2] }}&nbsp<span style="color:blue">{{ fields['infinitive-base-form']|safe }}</span><span style="color:red">{{ row[3] }}</span></td>
        <td>{% if row|length > 4 %}{{ row[4] }}&nbsp<span style="color:blue">{{ fields['infinitive-base-form']|safe }}</span><span style="color:red">{{ row[5] }}</span>{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if fields['perfekt-f-sing'] != "" }
<table class="verb-table">
    <tr>
        <th  colspan="3">- {{ fields['infinitiv-E']|safe }} - <br> - {{ fields['infinitiv']|safe }}</th>
    </tr>
    <tr>
        <th  colspan="3">perfect</th>
    </tr>
  <tr>
    <th></th>
    <th>Maskulinum</th>
    <th>Femininum</th>
    <th>Neutrum</th>
  </tr>
  <tr>
    <td>ja sam</td>
    <td>&nbsp{{ fields['perfekt-m-sing']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-f-sing']|safe }}</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>ti si</td>
    <td>&nbsp{{ fields['perfekt-m-sing']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-f-sing']|safe }}</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>on/ona/ono je</td>
    <td>&nbsp{{ fields['perfekt-m-sing']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-f-sing']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-n-sing']|safe }}</td>
  </tr>
  <tr>
    <td>mi smo</td>
    <td>&nbsp{{ fields['perfekt-m-plural']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-f-plural']|safe }}</td>
    <td></td>
  </tr>
  <tr>
    <td>vi ste</td>
    <td>&nbsp{{ fields['perfekt-m-plural']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-f-plural']|safe }}</td>
    <td></td>
  </tr>
  <tr>
    <td>oni/one/ona su</td>
    <td>&nbsp{{ fields['perfekt-m-plural']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-f-plural']|safe }}</td>
    <td>&nbsp{{ fields['perfekt-n-plural']|safe }}</td>
  </tr>
</table>
{% endif %}