<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        {{ css }}
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

    <table class="custom-table-left">
        <tr>
            <td>{{ fields['CardID']|safe }}</td>
            <td>{{ fields['QuestionEN']|safe }}</td>
            <td>{{ fields['TransactionNameEN']|safe }}</td>
        </tr>
        {% if fields['TransactionDescriptionEN'] != "" %}
        <tr>
            <td colspan="3">{{ fields['TransactionDescriptionEN']|safe }}</td>
        </tr>
        {% endif %}

        {% if fields['Screen01'] != "" %}
        <tr>
            <td>{{ fields['Screen01']|safe }}</td><td>{{ fields['Screen02']|safe }}<td>{{ fields['Screen03']|safe }}</td>
        </tr>
        {% endif %}

        {% if fields['Screen04'] != "" %}
        <tr>
            <td>{{ fields['Screen04']|safe }}</td><td>{{ fields['Screen05']|safe }}</td><td>{{ fields['Screen06']|safe }}</td>
        </tr>
        {% endif %}

        {% if fields['Screen07'] != "" %}
        <tr>
            <td>{{ fields['Screen07']|safe }}</td><td>{{ fields['Screen08']|safe }}</td><td>{{ fields['Screen09']|safe }}</td>
        </tr>
        {% endif %}

        {% if fields['Screen10'] != "" %}
        <tr>
            <td>{{ fields['Screen10']|safe }}</td><td>{{ fields['Screen11']|safe }}</td><td>{{ fields['Screen12']|safe }}</td>
        </tr>
        {% endif %}


    </table>
