<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        {{ css }}
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <table class="custom-table-left">
        <tr>
            <td>{{ fields['CardID']|safe }}</td>
        </tr>
        <tr>
            <td>{{ fields['Question']|safe }}</td>
        </tr>
        <tr>
            <td>
            <ul>
                <li>{{ fields['Answer1']|safe }}</li>
                {% if fields.get('Answer2', '') != "" %}<li>{{ fields['Answer2']|safe }}</li>{% endif %}
                {% if fields.get('Answer3', '') != "" %}<li>{{ fields['Answer3']|safe }}</li>{% endif %}
                {% if fields.get('Answer4', '') != "" %}<li>{{ fields['Answer4']|safe }}</li>{% endif %}
                {% if fields.get('Answer5', '') != "" %}<li>{{ fields['Answer5']|safe }}</li>{% endif %}
                {% if fields.get('Answer6', '') != "" %}<li>{{ fields['Answer6']|safe }}</li>{% endif %}
                {% if fields.get('Answer7', '') != "" %}<li>{{ fields['Answer7']|safe }}</li>{% endif %}
                {% if fields.get('Answer8', '') != "" %}<li>{{ fields['Answer8']|safe }}</li>{% endif %}
                {% if fields.get('Answer9', '') != "" %}<li>{{ fields['Answer9']|safe }}</li>{% endif %}
                {% if fields.get('Answer10', '') != "" %}<li>{{ fields['Answer10']|safe }}</li>{% endif %}
            </ul>
            </td>
        </tr>
        {% if fields['Comment'] != "" %}
            <tr>
                <td>{{ fields['Comment']|safe }}</td>
            </tr>
        {% endif %}
    </table>
</body>