<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        {{ css }}
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>


<table>
    <tr>
        <th colspan="2">- {{ fields['infinitiv-E']|safe }} (present) - <br> {{ fields['infinitiv']|safe }}</th>
    </tr>
    <tr>
        <th></th>
        <th>Maskulinum/Femininum/Neutrum</th>
    </tr>
    {% for subject, verb_form in {
        'ja': present_m_sing_1,
        'ti': present_m_sing_2,
        'on/ona/ono': present_m_sing_3,
        'mi': present_m_plural_1,
        'vi': present_m_plural_2,
        'oni/one/ona': present_m_plural_3
    }.items() %}
    <tr>
        <td align="left">{{ subject }}</td>
        <td align="left">&nbsp{{ verb_form }}</td>
    </tr>
    {% endfor %}
    {% if aspect %}
    <tr>
        <td align="left">{{ aspect }}</td>
        <td align="left">{{ aspect_explanation }}</td>
    </tr>
    {% endif %}
</table>